.fill-me {
  border: 2px dashed red;
  user-select: none;
  padding: 10px;

  &__block {
    user-select: all;

    &:before {
      content: 'создайте текстовый блок с названием ';
      font-weight: 300;
    }
  }

  &__page {

    &:before {
      content: '(заходишь в админку, в разделе Главные/Страницы/ страница';
      font-weight: 300;
    }

    &:after {
      content: ', вкладка "Текстовые блоки", кнопка "+Добавить ещё один Текстовый блок")';
      font-weight: 300;
    }
  }

  &__no-page {

    &:before {
      content:
        'но перед этим создайте сущность данной странице в админке:\
          раздел Главные/Страницы/, кнопка "+Добавить страница"';
      font-weight: 300;
    }
  }
}
